# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/projeto/dist
/projeto/tmp
/projeto/.angular
/projeto/out-tsc
/projeto/bazel-out


/projetoUI/dist
/projetoUI/tmp
/projetoUI/.angular
/projetoUI/.angular/*
/projetoUI/out-tsc
/projetoUI/bazel-out


/projeto-pipe/dist
/projeto-pipe/tmp
/projeto-pipe/.angular
/projeto-pipe/.angular/*
/projeto-pipe/out-tsc
/projeto-pipe/bazel-out


/projeto-form/dist
/projeto-form/tmp
/projeto-form/.angular
/projeto-form/.angular/*
/projeto-form/out-tsc
/projeto-form/bazel-out


# Node
/projeto/node_modules
/projetoUI/node_modules
/projeto-pipe/node_modules
/projeto-form/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
